.footer
{
	background-color:@background-basic;
	padding: 20px 0;

	&__title
	{
		font-size: 30px;
		margin-bottom: 10px;
	}

	&__description
	{

	}

	&__contacts
	{
		display: inline-block;
		vertical-align: middle;
		a
		{
			color: #fff;
		}
	}
}